body{
  background-color: green;
  background-image: url("https://media.giphy.com/media/boqxHlnQOnpeg/giphy.gif");
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: solid;
  border-width: thick;
  border-radius: 15px;
  border-color: red;
}

h1{
  color: #f2f2f2;
  font-size: 48px;
  font-family: fantasy;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

p{
  color:#f2f2f2;
  font-size: 20px;
  font-family: fantasy;
  font-style: normal;
  text-align: center;
}


ol{
  color:#f2f2f2;
  font-size:18px;
  font-family: fantasy;
  list-style-position: outside;

}

h2{
  color: #f2f2f2;
  font-style:bold;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  text-decoration-line: underline;
}

h3{
  color: #f2f2f2;
  font-style:bold;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  text-decoration-line: underline;
}
p1{
  color:#f2f2f2;
  font-size:14px;
  font-family: monospace;
  font-style: normal;
}

p2{
  color:#f2f2f2;
  font-size:14px;
  font-family: monospace;
  font-style: normal;

}

p3{
  color:#f2f2f2;
  font-size:14px;
  font-family: monospace;
  font-style:italic;
}

p4{
  color:#f2f2f2;
  font-size:20px;
  font-family: fantasy;
  font-style: normal;
}

p5{
  color:#f2f2f2;
  font-size:20px;
  font-family: fantasy;
  font-style: normal;
}

p6{
  color:#f2f2f2;
  font-size:20px;
  font-family: fantasy;
  font-style:normal;
}
p7{
  color:#f2f2f2;
  font-size: 20px;
  font-family: fantasy;
}
p8{
  color: #f2f2f2;
}

a{
  color: #f2f2f2;
  font-family: fantasy;
}
